# Ignore Node.js dependencies
node_modules/

# Ignore logs
*.log
logs/


# Ignore build artifacts
dist/
build/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore VSCode settings (optional, if you don't want to push personal settings)
.vscode/



.DS_Store

node_modules/
f285de5 (chore: ignore node_modules)
